.section_form_parent {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form_section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form_section label {
    font-weight: 500;
}

.form_section input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.form_section input::placeholder {
    color: var(--text-color-secondary);
}

.form_input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label_error p {
    color: var(--error-color);
    font-weight: 400;
    font-size: 12px;
}

.password_strength {
    margin-top: 4px;
    font-size: 0.85rem;
}

.strength_text.lemah {
    color: var(--error-color);
}

.strength_text.sedang {
    color: var(--warning-color);
}

.strength_text.kuat {
    color: var(--main-color);
}

/* .label-error {
    color: var(--error-color);
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
} */

.label-error {
    display: none;
}

@media (min-width: 600px) and (max-width: 1024px) {
  /* CSS khusus untuk tablet di sini */
    body {
        background-color: #FCFCFC;
    }

    .auth_form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container_login {
        background-color: #Ffff;
        border-radius: 5px;
        border: 1px solid var(--border-color);
        max-width: 460px;
    }
}