.location-tab {
    display: flex;
    gap: 16px;
    flex-direction: column;
    text-align: start;
}

.location-tab h1 {
    font-size: 16px;
}

.location-tab p {
    color: var(--text-color-secondary);
}

#map {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

#map {
    border: 0;
}