.card-grid-container {
    width: 100%;
    height: fit-content;
    background-color: #f6f8fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-grid {
    max-width: 680px;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* fleksibel */
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.card {
    background-color: white;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-text h1 {
    font-size: 16px;
}

.card-text p {
    color: var(--text-color-secondary);
    font-size: 14px;
}

.rating-label-home {
    display: flex;
    align-items: center;
    gap: 6px;
}

.rating-label-home p{
    font-size: 14px;
    color: var(--main-color);
}

.card-image {
    background-image: url(../assets/card-image.png);
    background-size: cover;        /* Biar gambarnya penuh */
    background-position: center;   /* Fokus di tengah */
    background-repeat: no-repeat;  /* Jangan diulang */
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    height: 150px;
}

.star-label {
    width: 16px;
    height: 16px;
}

.card-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-label {
    display: flex;
    gap: 8px;
    width: fit-content;
    padding: 8px 10px;
    background-color: white;
    border-radius: 100px;
    align-items: center;
}

.category-label p{
    font-size: 14px;
    color: var(--main-color);
}

.save-button {
    padding: 10px;
    border-radius: 100px;
    background-color: white; 
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
}

.save-button img {
    width: 16px;
}

.visited-counter {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--text-color-secondary);
}

.visited-counter p {
    font-size: 14px;
    color: var(--text-color-secondary);
}

.visit-button {
    padding: 0;
    background-color: white;
    color: var(--text-color-primary);
    font-size: 14px;
}